
:host >>> table{
  margin-bottom: 0px !important;
}

:host >>> .table>tbody>tr>td, .table>tbody>tr>th{
  padding: 0 !important;
}


:host >>> .simple-selection .select2-selected {
  padding-top: 4px !important;
}

:host >>> a>.select2-selection-container{
  margin-bottom: 0px !important;
}
