code/node_modules
node_modules
.idea
code/artifacts
artifacts
out
code/package-lock.json
*.log

code/yarn.lock
/electron-builder/yarn.lock
/electron-builder/app/yarn.lock
/electron-builder/app/node_modules/
/electron-builder/node_modules/
/electron-builder/app/
/electron-builder/dist/
electron-builder/dist/
electron-builder/package-lock.json
npm-debug.log.2290496714
yarn.lock
!/electron-builder/_app/
/.vscode/
