<dn-loading [show]="loading">
  <dn-widget color="blueDark" [colorbutton]="false" [editbutton]="false" id="ncts-widget">

    <header>
      <span class="widget-icon"><i class="fa fa-truck"></i></span>
      <h2>Hassas eşya</h2>
    </header>
    <div>
      <div class="widget-body">
        <form [formGroup]="baseForm" novalidate>

          <div class="margin-top-10">
            <fieldset>
              <div class="form-row form-group no-margin-bottom" style="margin-left: -16px;">
                <div class="col-sm-12 col-md-5" style="padding-right: 2px;">
                  <dn-select2-container [form]="baseForm"
                                        serviceUrl="nctsEsyaKod"
                                        formControlName="nctsEsyaKod">Eşya Kodu(33)
                  </dn-select2-container>
                </div>
                <div class="col-sm-12 col-md-5" style="padding-left: 2px; padding-right: 2px;">
                  <dn-input [form]="baseForm"
                            formControlName="hassasEsyaMiktar">Hasas Eşya Miktarı
                  </dn-input>
                </div>
                <div class="col-sm-12 col-md-2" style="padding-left: 2px; ">
                  <button class="btn" type="button" style="float: right; margin-right: 13px;"
                          [disabled]="!baseForm.valid"
                          (click)="onSubmit()">
                    <i [ngClass]="isEdit ? 'fa fa-edit':'fa fa-save'"></i>
                  </button>
                </div>
              </div>
            </fieldset>
          </div>
          <!--(click)="addSatir(baseForm.getRawValue())">-->
          <br>
          <table class="table table-bordered" [formArrayName]="formArrName">
            <thead>
            <tr>
              <th align="center" style="width: 40px; text-align: center">İşlem</th>
              <th align="center" style="text-align: center">Eşya Kodu(33)</th>
              <th align="center" style="text-align: center">Hasas Eşya Miktarı</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let row of getControl().controls; let i=index"
                [formGroupName]="i"
                (click)="setClickedRow(i)" [class.active]="i == selectedRow">
              <td>
                <button (click)="onRemove(i)" type="button" class="btn btn-xs  btn-danger txt-color-white"><i
                  class="fa fa-trash-o"></i></button>
              </td>
              <td>{{getEnumValue(row.get('nctsEsyaKod').value)}}</td>
              <td>{{row.get('hassasEsyaMiktar').value}}</td>
            </tr>
            </tbody>
          </table>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </dn-widget>
</dn-loading>
