:host >>> .db-widget-body{
  zoom: 1;
  background-color: #fff!important;
  float: left;
  width: 100%;
  position: relative;
  font-size: 13px;
  -moz-border-radius: 0;
  -khtml-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin: 0;
  border-width: 1px 1px 2px;
  border-style: solid;
  border-top: none;
  border-right-color: #CCC!important;
  border-bottom-color: #CCC!important;
  border-left-color: #CCC!important;
  padding: 13px 13px 0;
  overflow: visible;
}


:host >>> form .form-group .dn-row dn-df-question label{
  /*display: inline-block;*/
}

:host >>> form .form-group .dn-row:first-child dn-df-question label{
  padding-right: 0px;
}
:host >>> @media (min-width: 768px){
  :host >>> form .form-group .dn-row:not(:first-child) dn-df-question label{
    padding-left: 0px;
  }
}

:host >>> @media (min-width: 768px){
  :host >>> .form-group{
    margin-botton: 0px;
  }
}
:host >>> .form-group{
  margin-bottom: 0px;
}



:host >>> .kalem-no{
  cursor: pointer;
}

:host >>> .yeni-satir {
  padding: 0;
  margin-top: 10px;
  background-color: transparent;
  border: none;
}
