
:host >>> .eu-btn-center{
  margin-top: 5px;
}

:host >>> table{
  margin-bottom: 0px !important;
}

:host >>> .table>tbody>tr>td, .table>tbody>tr>th{
  padding: 8px 10px !important;
}


:host >>> .simple-selection .select2-selected {
  padding-top: 4px !important;
}

:host >>> a>.select2-selection-container{
  margin-bottom: 0px !important;
}

:host >>> .vergi-table-container {
  width: calc((100% - 60px) / 2) !important;
}

:host >>> .vergi-islem-container {
  width: 60px !important;
}

:host >>> canvas{
  width: 98%;
}
