<dn-loading-content [show]="loading">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <dn-widget>
        <header>
                    <span class="widget-icon">
                        <i class="glyphicon glyphicon-file txt-color-darken"></i> </span>
          <h2>Varış Bildirimi - Taşıma Senetleri</h2>
          <ul class="nav nav-tabs pull-right in" id="myTab">
            <li class="active">
              <a data-toggle="tab" href="#s1"><i class="fa fa-list-alt"></i> <span
                class="hidden-mobile hidden-tablet">Varış Bildirimi&nbsp;
                <i *ngIf="isOzetbeyanEditing"
                   class="fa fa-pencil-square-o"></i> </span></a>
            </li>
            <li *ngIf="ozetbeyan.isEdit" class="li li-tooltip" [ngClass]="isOzetbeyanEditing ? 'li-disabled' : ''">
              <a data-toggle="tab" href="#s2"><i class="fa fa-list-ol"></i> <span
                class="hidden-mobile hidden-tablet">Taşıma Senet</span></a>
              <b class="li-tooltip-text tooltip-bottom-right">Önce varışbildirimini güncelleyiniz!</b>
            </li>
          </ul>
        </header>
        <div class="no-padding">
          <div class="widget-body">
            <div id="myTabContent" class="tab-content">
              <gtb-ozetbeyan #ozetbeyan (saveOzetbeyanEvent)="saveOzetbeyanEvent($event)"
                             (beyanTuruChangedEvent)="beyanTuruChangedEvent($event)"
                             [beyanType]="beyanConfig.varisbildirimi"
                             (isEditing)="ozetbeyanEditing($event)"
                             class="tab-pane fade active in no-padding-bottom" id="s1"></gtb-ozetbeyan>
              <gtb-ozetbeyan-tasima-senet #tasimasenet
                                          [ozetbeyan]="ozetbeyanData"
                                          [beyanTuruCode]="beyanTuruCode"
                                          [beyanType]="beyanConfig.varisbildirimi"
                                          class="tab-pane fade"
                                          id="s2"></gtb-ozetbeyan-tasima-senet>
            </div>
          </div>
        </div>
      </dn-widget>
    </div>
  </div>
</dn-loading-content>
